<br><br>
<h1> 发布岗位</h1>

<%= simple_form_for @job do |f| %>

	<%= f.input :title, :label => "岗位" %>
	<%= f.input :description, :label => "基本要求" %>
	<%= f.input :wage_lower_bound, :label => "薪资下限" %>
	<%= f.input :wage_upper_bound, :label => "薪资上限" %>
	<%= f.input :contact_email, :label => "联系邮箱" %>

	<%= f.input :is_hidden,:label => "是否隐藏( PS: 隐藏后发布工作仅后台可见）" %>


	<%= f.submit "提交" %>
	<% end %>